/* Resetando margens e espaçamentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estipo do corpo */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(102, 102, 235);
}

/* Estilo do container */
.container {
    background-color: rgb(71, 67, 67);
    border-radius: 10px; /* Arredondamento de bordas */
    color: aliceblue;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 40px;
    text-align: center;
    width: 80%;
    max-width: 600px; /* Tamanho / Largura máximo(a) */
}

/* Estilo da tag h1 */
.container h1 {
   font-size: 2.2rem;
}

/* Estilo da tag p */
.container p {
    font-size: 1.2rem;
    margin: 30px 0; 
    color: beige;
}

/* Estilo da tag button */
.container button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo da tag h1 */
.container button:hover {
    background-color: #0fc481;
}